*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #28527a;

}

.container{
   padding: 20px;
    width: 30%;
    
}
.container h1{
    font-size: 1rem;
    color: #fff;
    margin: 10px 0;
}
input[type ="text"]{
    width: 100%;
    padding: 10px;
    outline: 0;
}
::placeholder{
    color: rgba(0, 0, 0, 0.418);
}
.btn-check{
    padding: 8px 25px;
    outline: 0;
    transition: 0.3s;
    margin-top: 10px
}
.reverce-text{
    color: #fff;
}